venv/

*.json

.env
narracao_partes/
imagens/
videos/
transcricao/
roteiro_narracao/
narracao/
video_sem_trilha/
video_com_trilha/
trilha_sonora/
video_final/
jobs/
tema/
roteiro_partes/

__pycache__/
*.pyc

.DS_Store
.vscode/